html {
  font-size: 1.125em;
}

body {
  width: 100%;
}

h1 {
  font-size        : 4em;
}

span.prose {
  display          : block;
  clear            : right;
}

.scene dl dt, .scene dl em {
  float        : left;
  margin-right : .25em;
}

.scene dd {
  margin       : .5em 0 .5em 1.25em;
}

section {
  margin           : 0 1em 1em 1em;
}

.scene {
  width : 56.6%;
  float: left;
}

.illustrations {
  float: right;
  width: 30%;
}