body {
  background-color: #f5f4f0;
  color: #534f44;
  font-family: "Helvetica Neue", "Helvetica", Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Adobe Caslon Pro", "Caslon", Georgia, serif;
}

h1, h2 {
  color: #58858b;
  text-align: center;
  border-bottom: 0.03em solid #b9b5aa;
  font-weight: 400;
}

h3 {
  color: #58858b;
  font-style: italic;
}

blockquote {
  line-height: 1.5em;
  margin: .5em 2em;
  padding: .25em;
  color: #9e6a92;
}

strong, b {
  font-family: "Helvetica Neue Bold", "Helvetica", Arial;
}

em, i {
  font-family: "Helvetica Neue Italic", "Helvetica", Arial;
}

p, li {
  line-height: 1.35em;
}

table {
  margin: 1em;
}

td {
  font-family: 'AnonymousProRegular';
  margin: 0;
  padding: .5em;
}

th {
  text-transform: lowercase;
  font-variant: small-caps;
  background-color: #58858b;
  color: #fff;
  text-align: center;
  padding: .5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: underline;
}

.slide ol {
  counter-reset: orderedlist;
}
.slide ol li {
  list-style-type: none;
}
.slide ol > li:before {
  font-size: .75em;
  counter-increment: orderedlist;
  content: counter(orderedlist);
  color: #f5f4f0;
  background-color: #58858b;
  padding: .5em .8em;
  border-radius: 1.75em;
  margin: 1em 1em 1em -1em;
}

div.slide ul li ol li, ul li ol li, div.slide ul ul li {
  background-image: none;
}

div.slide a, div.slide a:visited, div.slide a:active, div.slide a:hover {
  color: #58858b;
}

div.slide ul {
  list-style-type: none;
}

div.slide ul li {
  padding: .25em;
  list-style-type: none;
  background-image: url("bullet.png");
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 0.5em .5em;
}

div.slide ul li:nth-of-type(odd) {
  background-color: #efede7;
}

div.slide ul ul li {
  list-style-type: disc;
  padding-left: 0;
}

body.singleslide div.slide.titleslide {
  position: absolute;
}

div.slide.titleslide h1 {
  padding-top: 10%;
  margin-right: 0;
}

div.slide pre, pre {
  overflow: scroll;
  font-weight: normal;
  border: 0.2em #9eab7d;
  box-shadow: inset 0 0 0.5em #534f44;
  background-color: #ebe9e1;
  padding: .5em;
}

div.slide pre code, pre code {
  color: #534f44;
  padding: 0;
  background-color: transparent;
}

div.slide pre code {
  font-size: .75em;
}

div.slide pre .sourceCode, pre .sourceCode {
  color: #534f44;
}

div.slide code, code {
  background-color: #ebe9e1;
  padding: 0 .35em;
  border: 0.05em dashed #b9b5aa;
}

div.longcode pre.sourceCode code {
  line-height: 70%;
  font-size: .625em;
}

div.slide code > span.kw, code > span.kw {
  color: #943713;
  font-weight: bold;
}

div.slide code > span.dt, code > span.dt {
  color: #58858b;
}

div.slide code > span.dv, code > span.dv {
  color: #40a070;
}

div.slide code > span.bn, code > span.bn {
  color: #40a070;
}

div.slide code > span.fl, code > span.fl {
  color: #737a61;
}

div.slide code > span.ch, code > span.ch {
  color: #4070a0;
}

div.slide code > span.st, code > span.st {
  color: #58858b;
}

div.slide code > span.co, code > span.co {
  color: #92768b;
  font-style: italic;
}

div.slide code > span.ot, code > span.ot {
  color: #737a61;
}

div.slide code > span.al, code > span.al {
  color: #ff0000;
  font-weight: bold;
}

div.slide code > span.fu, code > span.fu {
  color: #b08960;
}

div.slide code > span.er, code > span.er {
  color: #bf8513;
  font-weight: bold;
}

pre.sourceCode + p {
  margin-top: -0.5em;
}

pre.sourceCode + p > code {
  font-size: .625em;
}

div.figure {
  position: relative;
  text-align: center;
  height: 80%;
  margin-right: 2%;
}
div.figure img {
  box-shadow: .5em .5em .5em #aaa;
  max-width: 100%;
  max-height: 85%;
}
div.figure p.caption {
  height: 20%;
  font-weight: 100;
}

div.slide.figures-1 ul {
  margin-left: 52%;
}
div.slide.figures-1 ul ul {
  margin-left: 0;
}
div.slide.figures-1 ol {
  margin-left: 50%;
}
div.slide.figures-1 div.figure {
  text-align: center;
  width: 100%;
}
div.slide.figures-1.stuff div.figure {
  width: 50%;
  float: left;
}

div.slide.figures-2 div.figure {
  width: 48%;
  float: left;
}
div.slide.figures-2.stuff div.figure {
  height: 60%;
}
div.slide.figures-2.stuff ul {
  clear: left;
}

div.slide.figures-3 div.figure {
  width: 30%;
  float: left;
}

h3[id^='real-world-moment'], h4[id^='real-world-moment'], h5[id^='real-world-moment'],
h3[id^='good-enough-for'], h4[id^='good-enough-for'], h5[id^='good-enough-for'],
h3[id^='hold-that-thought'], h4[id^='hold-that-thought'], h5[id^='hold-that-thought'],
h3[id^='pro-tip'], h4[id^='pro-tip'], h5[id^='pro-tip'],
h3[id^='beware'], h4[id^='beware'], h5[id^='beware'],
h3[id^='rule-of-thumb'], h4[id^='rule-of-thumb'], h5[id^='rule-of-thumb'],
h3[id^='further-reading'], h34[id^='further-reading'], h5[id^='further-reading'] {
  display: inline-block;
  width: 30%;
  margin: .325em;
  margin-left: -3%;
  color: #efede7;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: .175em .175em .175em 2em;
  clear: left;
}

h3[id^='real-world-moment'], h4[id^='real-world-moment'], h5[id^='real-world-moment'] {
  background-color: #9eab7d;
}

h3[id^='good-enough-for'], h4[id^='good-enough-for'], h5[id^='good-enough-for'] {
  background-color: #bc98b4;
}

h3[id^='hold-that-thought'], h4[id^='hold-that-thought'], h5[id^='hold-that-thought'] {
  background-color: #58858b;
}

h3[id^='pro-tip'], h4[id^='pro-tip'], h5[id^='pro-tip'] {
  background-color: #b08960;
}

h3[id^='beware'], h4[id^='beware'], h5[id^='beware'] {
  background-color: #e44b0f;
}

h3[id^='rule-of-thumb'], h4[id^='rule-of-thumb'], h5[id^='rule-of-thumb'] {
  background-color: #f6b128;
  color: #534f44;
}

h3[id^='further-reading'], h34[id^='further-reading'], h5[id^='further-reading'] {
  background-color: #534f44;
  color: #efede7;
}
